<!DOCTYPE html>
<html>
<head>
<ul class="nav-bar">
    <li class="nav-item"><a class="nav-link" href="/ClinicaDaNatalia/RegistroPaciente">Registro</a></li>
    <li class="nav-item"><a class="nav-link" href="/ClinicaDaNatalia/Login">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="/ClinicaDaNatalia/ListaDeConveniosPublica">Convenios</a></li>
    <li class="nav-item"><a class="nav-link" href="/ClinicaDaNatalia/ListaDeEspecialidadesPublica">Especialidades</a></li>
</ul>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style4.css">
    <link rel="stylesheet" href="view/index.css">
</head>
    <body>
        <div align="center"><font face="Trebuchet MS" color="#FFFAFA"><h1 class="display-1">Clínica da Natália</h1></font></div>
    </body>
</html>
<!DOCTYPE html>