                    table {
            border-spacing: 0.5rem;
        }

        td {
            padding: 0.5rem;
            text-align: center;
            height: 90px;
        }

            td:nth-child(1) {
                background: hsl(150, 50%, 50%);
            }

            td:nth-child(2) {
                background: hsl(160, 60%, 50%);
            }

            td:nth-child(3) {
                background: hsl(170, 70%, 50%);
            }

            td:nth-child(4) {
                background: hsl(180, 80%, 50%);
            }

            td:nth-child(5) {
                background: hsl(190, 90%, 50%);
            }

            td:nth-child(6) {
                background: hsl(200, 99%, 50%);
            }
            ul.nav-bar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

li.nav-item {
  display: inline;
}

a:link.nav-link, a:visited.nav-link {
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #008AAF;
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    padding: .1em 5em;
    border-radius: 10px;
}

a:hover.nav-link, a:active.nav-link {
    background-color: #008AAF;
    color: #008AAF;
}

        body {
            background-color: #008AAF;
        }